body {
  font-family: 'Poppins', sans-serif;
}

#canvas {
  border: 1px solid #d3d3d3;
}

#spinner {
  text-transform: uppercase;
  height: 40px;
  letter-spacing: 1px;
  border: 4px solid #fcd779;
  border-top: 4px solid white;
  border-radius: 50%;
  animation: pulse 1.2s alternate infinite;
  -webkit-animation: pulse 1.2s alternate infinite;
}

@keyframes pulse {
  from { border: 4px solid #fcd779; border-top: 4px solid white; }
  to { border: 4px solid #fdf900; border-top: 4px solid white; }
}

@-webkit-keyframes pulse {
  from { border: 4px solid #fcd779; border-top: 4px solid white; }
  to { border: 4px solid #fdf900; border-top: 4px solid white; }
}

.loading-container {
  height: 100vh;
  animation: grow 1s linear;
  -webkit-animation: grow 1s linear;
}

@keyframes grow {
  from { width: 0; }
  to { width: 100%; }
}

@-webkit-keyframes grow {
  from { width: 0; }
  to {width: 100%; }
}

.graph-container {
  padding: 10px;
}

.loading-spinner {
  height: 100%;
}

.header-container {
  border: 1px solid black;
}

.header-container h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

.header-title {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.country-select-label {
  font-size: 12px;
  text-transform: uppercase;
  margin: 5px;
}

.country-selection {
  margin: 5px;
}

.country-selection-box {
  font-size: 12px;
}

.footer-container {
  border: 1px solid black;
}

.footer-container h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

.footer-title {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.copyright-icon {
  margin: 5px;
}
